﻿@model IEnumerable<VeterinariaESI.VetServiceWSSOAP.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @ViewBag.Titulo1
        </dt>

        <dd>
            @ViewBag.Titulo2
        </dd>

        <dt>
            @ViewBag.Titulo3
        </dt>

        <dd>
            @ViewBag.Titulo4
        </dd>

        <dt>
            @ViewBag.Titulo5
        </dt>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit" ,"" ) |
    @Html.ActionLink("Back to List", "Index")
</p>
