﻿@model IEnumerable<VeterinariaESI.Dominio.Ventas>

@{
    ViewBag.Title = "Venta";
}

<h2>Ventas</h2>
<div class="form-group" style="margin-bottom:30px; margin-top:30px;">
    <label class="">Cliente</label>
    <div class="col-md-12" style="padding-left:0px;">
        <input class="form-control" />
    </div>
</div>
<th>

    <p>
        @*@Html.ActionLink("Nueva Venta", "Nueva")*@
        <input type="submit" value="Nueva Venta" class="btn btn-secondary" />
    </p>

 
    <table class="table table-hover">

        <tr>
            <th>
                @ViewBag.Titulo01
            </th>
            <th>
                @ViewBag.Titulo02
            </th>
            <th>
                @ViewBag.Titulo03
            </th>
            <th>
                @ViewBag.Titulo04
            </th>
            <th>
                @ViewBag.Titulo05
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idventa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idusuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idcliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codigoventa)
                </td>
            </tr>

                }
        </table>

