﻿@{
    ViewBag.Title = "Envienos un Mensaje";
}
<h2>@ViewBag.Title.</h2>


<div class="row m-3" style="margin-top: 20px;">
    <form action="/Home/Index" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="correo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Mensaje</label>
            <textarea class="form-control" rows="5" name="mensaje"></textarea>
        </div>
       
        <button type="submit" class="btn btn-primary">Enviar</button>
      
    </form>
</div>


@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@