﻿@model IEnumerable <VeterinariaESI.VetServiceWSSOAP.Mensaje>
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Mensajes</h2>

<table class="table table-striped">
    <tr>
        <th>
            @ViewBag.Titulo1
        </th>
        <th>
            @ViewBag.Titulo2
        </th>
        <th>
            @ViewBag.Titulo3
        </th>

        <th>
            Acciones
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mensaje1)
            </td>
    
           
            <td>
                @Html.ActionLink("Responder", "Edit", new { id = item.id }) |
            </td>
        </tr>
    }

</table>

